[user]
  email = romainknezevic@gmail.com\n
  name = rkj\n\n
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  autocrlf = input
  editor = vim
  pager = less -x1,5
[alias]
  st = status
  dc = diff --cached

[push]
  default = simple
  followTags = true
[url "git@github.com:"]
  insteadOf = https://github.com/
[init]
  templatedir = ~/.git-templates
[pager]
	branch = false
